# Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Build outputs
dist/
build/
*.log

# Temporary files
tmp/
temp/
*.tmp

# OS files
.DS_Store
Thumbs.db

# Database
*.db
*.sqlite
*.sqlite3

# Secrets
*.pem
*.key
*.cert
secrets/

# Docker
.dockerignore

# Coverage
coverage/
.nyc_output/


# Firebase Secrets
ios/YEO.PE/YEO.PE/GoogleService-Info.plist
android/app/google-services.json

# Xcode User State
*.xcuserstate

# Heap Dumps
*.hprof
yeope_secrets_backup.zip
secrets.zip
gcp-yeope-key
gcp-yeope-key.pub
